{% extends "AppBundle::layout.html.twig" %}

{% block body %}
   	{{ parent() }}
   	<div class="main" style="margin:30px">
	   	<ul class="collection with-header">
		   	<!-- <li class="collection-header"> -->
		   		<div>
		   			<h5 class="left" style="padding: 10px ">Listes des clients</h5>
		   			<h5 class="right" style="padding: 10px;">
		   				{{ form_start(form) }}
		   					<div class="row"> 
		   						{{ form_widget(form.data) }} 
		   						<input class="btn" type="submit" value="recherhcher" /> 
		   					</div>
		   					<div class="hide">{{ form_rest(form) }}</div>
		   				{{ form_end(form) }}
		   			</h5>
		   		<div>
		   	<!-- </li>  -->
		</ul>
	   	<div class="row">
		    {% for client in clients %}
			    <div class="col s4 m4">
		           	<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="https://www.timeshighereducation.com/sites/default/files/byline_photos/default-avatar.png" style="width: 100px; height: 100px;">
					    </div>
					    <div class="card-content">
					      	<span class="card-title activator grey-text text-darken-4">{{ client.nom }} {{ client.prenom }}
					      		<a href="{{ path('client_show', { 'id': client.client_id }) }}">
					      			<i class="material-icons right">more_vert</i>
					      		</a>
					      	</span>
					      <p><a href="#">{{ client.user.email }}</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">{{ client.nom }} {{ client.prenom }}<i class="material-icons right">close</i></span>
							{#<p>Date de naissance : </p>#}
							{#<p>Ville : </p>#}
							<p>{{ client.user.email }}</p>
					    </div>
					</div>
			    </div>
		    {% endfor %}
		</div>
	</div>
{% endblock %}  

