{% extends "AppBundle::layout.html.twig" %}

{% block body %}
   	{{ parent() }}

	<div class="main">
		
		{# Creation de form avec start et end de definit #}
		{{ form_start(form) }}
		<div class="row">
		    <div class="input-field col s6">
		      	{{ form_label(form.libelle) }}
				{{ form_widget(form.libelle) }}
				{{ form_errors(form.libelle) }}
		    </div>
	    </div>
	    <div class="row">
			<div class="input-field col s6">
				{{ form_widget(form.client) }}
			</div>
		</div>

		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %} 