{% extends "AppBundle::layout.html.twig" %}

{% block body %}
	{{ parent() }}
	<div class="main">
		{% if compte.client == null %}
    		N°{{ compte.numero }} {{ compte.libelle }} apartient à Anonymous </br>
    	{% else %}
        	N°{{ compte.numero }} {{ compte.libelle }} apartient à {{ compte.client }} </br>
    	{% endif %}
    </div>
{% endblock %} 