{% extends "AppBundle::layout.html.twig" %}

{% block body %}
   	{# Creation de form avec start et end de definit #}
	{{ form_start(form) }}

	<div class="row">
	    <div class="input-field col s6">
	      	{{ form_label(form.libelle) }}
			{{ form_widget(form.libelle) }}
			{{ form_errors(form.libelle) }}
	    </div>
    </div>

    <div class="row">
	    <div class="input-field col s6">
			{# { form_label(form.dateof) } #}
			{{ form_widget(form.dateof) }}
			{{ form_errors(form.dateof) }}
		</div>
	</div>

	<div class="row">
	    <div class="input-field col s6">
			{{ form_label(form.montant) }}
			{{ form_widget(form.montant) }}
			{{ form_errors(form.montant) }}
		</div>
	</div>

	{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %} 