{% extends "AppBundle::layout.html.twig" %}

{% block body %}
	{{ parent() }}

	<div class="main container">
		{{ form_start(form) }}
		<div class="col s12 m12 l6">
			<div class="card-panel">
				<h4 class="header2">Ajouter une transaction</h4>
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12">
								{{ form_label(form.libelle) }}
								{{ form_widget(form.libelle) }}
								{{ form_errors(form.libelle) }}
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								{{ form_widget(form.dateof) }}
								{{ form_errors(form.dateof) }}
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								{{ form_label(form.montant) }}
								{{ form_widget(form.montant) }}
								{{ form_errors(form.montant) }}
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								{{ form_widget(form.compte) }} <!-- compte depart -->
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								{{ form_widget(form.compte2) }} <!-- compte arrivee -->
							</div>
						</div>
						<div class="row">
							<div style="float:right;">
								{{ form_rest(form) }}
							</div>
						</div>
						{{ form_rest(form) }}
						{{ form_end(form) }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}